@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  @apply font-bold text-white;
}

body {
  --webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  /* font-family: "Lobster", cursive; */
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ea4c89;
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #e07ba2;
}
/* .leaflet-container {
  width: 100%;
  height: 60vh;
} */
.leaflet-container {
  width: 100%;
  height: 60vh;
}
